@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

@charset "UTF-8";

:root {
	--messy-blue: #3FA4D5;
	--messy-red: #F56476;
	--messy-green: #7FB685;
	--messy-yellow: #F2C57C;
	--messy-gray: #293132;
}

body {
    font-family: Poppins, Arial, sans-serif;
    color: var(--messy-gray);
    background: #fff;
}

/* Sidebar */
.sidebar-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
    background: #fff;
    width: 80%;
    max-width: 120px;
    z-index: 5;
}
.sidebar-wrapper .dashboard-sidebar {
	width: 100%;
	height: 100%;
	background: #fff;
	border-right: 1px solid rgba(0,0,0,0.05);
	overflow-y: auto;
	overflow-x: hidden;
}
.dashboard-sidebar .sidebar-header {
	padding: 20px;
}
.dashboard-sidebar .sidebar-header .header-title {
}
.dashboard-sidebar .sidebar-body {
	padding: 20px;
}
.dashboard-sidebar .sidebar-body .sidebar-group {
	position: relative;
	margin-bottom: 20px;
}
.dashboard-sidebar .sidebar-body .sidebar-group .sidebar-group-title {
	padding: 10px;
}
.dashboard-sidebar .sidebar-body .sidebar-group .sidebar-group-title h4 {
	font-size: 12px;
	font-weight: bold;
	color: #B0B0BA;
}
.dashboard-sidebar .sidebar-body .sidebar-group .sidebar-item .item {
	padding: 15px 20px;
	border-radius: 10px;
	font-weight: bold;
	margin-bottom: 10px;
	color: rgba(0,0,0,0.5);
}
.dashboard-sidebar .sidebar-body .sidebar-item .item.active {
	background: var(--messy-blue);
	color: #fff;
}
.dashboard-sidebar .sidebar-body .sidebar-group .sidebar-item .item i {
	width: 24px;
	text-align: center;
	margin-right: 10px;
}
.dashboard-sidebar .sidebar-body .sidebar-group .sidebar-item .item span {
	display: none;
}

/* Dashboard Content */
.dashboard-content {
	margin-top: 75px;
}

/* Dashboard Content - Products */
.overview-wrapper {
	position: relative;
}
.overview-wrapper .overview-content {
	position: relative;
}
.overview-wrapper .overview-content .overview-container {
	padding: 0 40px;
}
.overview-content .row {
	margin-right: 0;
	margin-left: 0;
}
.overview-content .overview-header {
	padding: 50px 50px;
}
.overview-content .overview-header .overview-header-title {
	color: #3FA4D5;
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 0 0;
}
.overview-content .overview-header .overview-new {
	display: inline-block;
	vertical-align: top;
}
.overview-content .overview-header .overview-new .new-item {
	background: #3FA4D5;
	padding: 8px 10px;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
	border: 0;
}
.overview-content .overview-table {
	margin: 0 50px;
}
.overview-content .overview-table .row {
	background: #F7F9FB;
	border-radius: 20px;
	margin: 0 0 10px 0;
}
.overview-content .overview-table .row.row-header {
	font-weight: bold;
	padding: 30px 40px;
	border-top: 0px;
	background: transparent;
}
.overview-content .overview-table .row .col .col-title {
	color: #6A6F87;
	height: 75px;
}
.overview-content .overview-table .row:not(.row-header) {
	padding: 20px 40px;
}
.overview-content .overview-table .row:not(.row-header) .col {
	vertical-align: middle;
}
.overview-content .overview-table .row .col a {
	color: #3FA4D5;
}
.overview-content .overview-table .row .col img {
	width: 75px;
}

/* Dashboard Header */
.db-header {
	height: 75px;
	position: fixed;
	padding: 10px;
	background: #fff;
	width: calc(100% - 320px);
	top: 0;
	z-index: 3;
}
.db-header .container {
	position: relative;
}

/* Dashboard Header - Card */
.db-card-header {
	padding: 30px 20px;
}
.db-card-header-green {
	background: var(--messy-green);
	color: #fff;
}
.db-card-header-blue {
	background: var(--messy-blue);
	color: #fff;
}
.db-card-header-red {
	background: var(--messy-red);
	color: #fff;
}
.db-card-header .header-title {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 0px;
}
.db-card-header .header-subtitle {
	margin-bottom: 20px;
}
.db-card-header .header-action {
	position: relative;
	margin-bottom: 20px;
}
.db-card-header .header-action .header-btn {
	background: #fff;
	padding: 10px 15px;
	border-radius: 20px;
	font-weight: bold;
}
.db-card-header .item-overview-nav {
	position: relative;
}
.db-card-header .item-overview-nav .nav-tabs li {
	padding: 0 15px;
}
.db-card-header .item-overview-nav .nav-tabs li:first-child {
	padding: 0 15px 0 0;
}
.db-card-header .item-overview-nav .nav-tabs li a {
	padding: 10px 0;
	display: block;
	font-weight: 600;
	color: #a0aec0;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: all .2s ease;
}
.db-card-header .item-overview-nav .nav-tabs li a.active {
	color: #212121;
	border-color: var(--messy-blue);
}
.db-card-header .header-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
}
.db-card-header .header-modal .container {
	margin-top: 40px;
	animation: showModal .5s;
	overflow-y: auto;
	max-height: calc(100% - 90px);
}
@keyframes showModal {

	from {
		margin-top: 70px;
		opacity: 0;
	}
	to {
		margin-top: 40px;
		opacity: 1;
	}

}
.db-card-header .header-modal .background {
	content: '';
	background: #000;
	opacity: 0.3;
	position: absolute;
	height: 100%;
	width: 100%;
}

/* Dashboard Content */
.db-content {
	margin: 30px 0;
}

/* Dashboard Modal */
.db-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.15);
	z-index: 6;
}
.db-modal.show {
}
.db-modal .db-modal-container {
	position: relative;
	height: 100%;
}
.db-modal .db-modal-card {
	position: absolute;
  	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background: #fff;
	border-radius: 20px;
	width: 90%;
	max-width: 500px;
	height: 80%;
	max-height: 530px;
	overflow-y: auto;
}
.db-modal .db-modal-card .card-header, 
.db-modal .db-modal-card .card-footer {
	background: transparent;
	border: 0;
}
.db-modal .db-modal-card .card-header {
	margin-bottom: 20px;
}
.db-modal .db-modal-card .card-header .card-title {
	font-size: 24px;
	font-weight: 900;
}
.db-modal .db-modal-card .card-header .card-action .close-btn {
	position: absolute;
	top: 30px;
	right: 30px;
	height: 50px;
	width: 50px;
	background: rgba(0,0,0,0.15);
	color: #212121;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	border-radius: 10px;
	cursor: pointer;
	transition: all .2s ease;
}
.db-modal .db-modal-card .card-header .card-action .close-btn:hover {
	background: #3A78F2;
	color: #fff;
}
.db-modal .db-modal-card .card-body {
}
.db-modal .db-modal-card .card-body .form-group {
	position: relative;
	width: 100%;
	height: 75px;
	margin: 0 0 20px 0;
}
.db-modal .db-modal-card .card-body .form-group input[type=text],
.db-modal .db-modal-card .card-body .form-group select {
	position: relative;
	z-index: 3;
	border: 0;
	border-bottom: 2px solid rgba(0,0,0,0.15);
	padding: 10px 3px;
	width: 100%;
	outline: none;
	background: transparent;
}
.db-modal .db-modal-card .card-body .form-group input[type=text]:focus,
.db-modal .db-modal-card .card-body .form-group input[type=text]:valid,
.db-modal .db-modal-card .card-body .form-group select:focus {
	border-color: #3A78F2;
}
.db-modal .db-modal-card .card-body .form-group input ~ label,
.db-modal .db-modal-card .card-body .form-group select ~ label {
	position: absolute;
	z-index: 2;
	left: 0px;
	top: -30px;
	transition: all .2s ease;
	font-weight: bold;
	color: rgba(0,0,0,0.3);
	font-size: 16px;
	padding: 0px 5px;
}
.db-modal .db-modal-card .card-body .form-group input:focus ~ label,
.db-modal .db-modal-card .card-body .form-group input:valid ~ label,
.db-modal .db-modal-card .card-body .form-group select:focus ~ label {
	color: #3A78F2;
	border-radius: 5px;
}

/* Dashboard Bootstrap Modal */
.modal {
}
.modal .modal-content {
	border: 0;
	border-radius: 20px;
	padding: 20px;
	position: relative;
}
.modal .modal-content .modal-header {
	border-bottom: 0;
	padding: 20px;
}
.modal .modal-content .modal-header .modal-title {
	font-size: 24px;
	font-weight: 900;
}
.modal .modal-content .modal-header .modal-action .close-btn {
	position: absolute;
	top: 32px;
	right: 40px;
	height: 50px;
	width: 50px;
	background: rgba(0,0,0,0.15);
	color: #212121;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	border-radius: 10px;
	cursor: pointer;
	transition: all .2s ease;
}
.modal .modal-content .modal-header .modal-action .close-btn:hover {
	background: #3A78F2;
	color: #fff;
}
.modal .modal-content .modal-body {
	margin: 40px 0 0 0;
}
.modal .modal-content .modal-body .form-group {
	position: relative;
	width: 100%;
	height: 75px;
	margin: 0 0 20px 0;
}
.modal .modal-content .modal-body .form-group input,
.modal .modal-content .modal-body .form-group select {
	position: relative;
	z-index: 3;
	border: 0;
	border-bottom: 2px solid rgba(0,0,0,0.15);
	padding: 10px 3px;
	width: 100%;
	outline: none;
	background: transparent;
}
.modal .modal-content .modal-body .form-group input:focus,
.modal .modal-content .modal-body .form-group input:valid,
.modal .modal-content .modal-body .form-group select:focus {
	border-color: #3A78F2;
}
.modal .modal-content .modal-body .form-group input ~ label,
.modal .modal-content .modal-body .form-group select ~ label {
	position: absolute;
	z-index: 2;
	left: 0px;
	top: -30px;
	transition: all .2s ease;
	font-weight: bold;
	color: rgba(0,0,0,0.3);
	font-size: 16px;
	padding: 0px 5px;
}
.modal .modal-content .modal-body .form-group input:focus ~ label,
.modal .modal-content .modal-body .form-group input:valid ~ label,
.modal .modal-content .modal-body .form-group select:focus ~ label {
	color: #3A78F2;
	border-radius: 5px;
}

/* Alerts */
.toast {
	position: fixed;
	top: 30px;
	right: 40px;
	border: 0;
	color: #fff;
}
.toast.alert-success {
	background: #7DC58C;
}
.toast.alert-error {
	background: #DF595A;
}
.toast.show {
	animation: toastSlideIn 1s;
}

/* Small devices (landscape phones, 640px and up) */
@media (min-width: 640px) { 

	/* Sidebar */
	.sidebar-wrapper {
		width: 120px;
	}
	.sidebar-wrapper .sidebar-item .item span {
		display: none;
	}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	/* Sidebar */
	.sidebar-wrapper {
		position: fixed;
	    width: 80%;
	    max-width: 320px;
	    z-index: 5;
	}
	.dashboard-sidebar .sidebar-header .header-icon img {
		height: 100%;
	}
	.dashboard-sidebar .sidebar-header .header-title span {
		color: var(--messy-blue);
	}
	.dashboard-sidebar .sidebar-body .sidebar-group .sidebar-group-title {
		padding: 10px 20px;
	}
	.dashboard-sidebar .sidebar-body .sidebar-group .sidebar-item .item span {
		display: inline-block;
	}

	/* Main Content */
	.main-content {
		margin-left: 320px;
		width: calc(100% - 320px);
	}

}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) { 

	
}

/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) { 

}

/*Fred css*/

.sticky {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color:white;
  }
  
  .hamburger {
	  position: absolute;
	  top: 0;
	  left: 0;
  }

.left-space{
	padding-left: 50px;
}

.right-space{
	padding-right: 60px;
}

a.nav-link:hover{
    background: var(--messy-blue);
	color: #fff !important;
	transition: .5s ease;
}
a.nav-link:active{
    background: var(--messy-blue);
	color: #fff !important;
	transition: .5s ease;
}