@charset "UTF-8";

:root {
	--messy-blue: #3FA4D5;
}

body {
    font-family: Nunito, Arial, sans-serif;
    color: #141414;
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #132645;
	font-weight: bold;
}

/* Transaction */
.transaction-content {
	position: relative;
}
.transaction-content .transaction-shop {
	position: relative;
	width: calc(100% - 520px);
	margin: 0 520px 0 0;
}
.transaction-content .transaction-cart {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	max-width: 520px;
	background: #F7F9FB;
}

/* Shop Content */
.shop-content {
	margin: 0 0 75px 0;
	position: relative;
	z-index: 3;
}

/* Shop Header */
.shop-header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px 20px;
}
.shop-header .header-nav {
	position: relative;
	height: 64px;
}
.header-nav .input-form-alias {

}
.header-nav .nav-link {
	width: 3.5rem;
	height: 3.5rem;
	line-height: 2.5rem;
	text-align: center;
}
.header-nav .cart-btn {
	position: relative;
}
.header-nav .cart-btn .count {
	position: absolute;
	top: 10px;
	right: 10px;
	background: red;
	border-radius: 100%;
	color: #fff;
	height: 16px;
	width: 16px;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
}
.shop-greetings h2 {
	font-size: 32px;
	font-weight: 900;
	color: var(--messy-blue);
	padding: 0 20px;
}

/* Shop Search */
.search-form-content .search-form {
	background: #fff;
	padding: 50px 0;
}
.search-form-content .search-form .search-box {
	position: relative;
}
.search-form-content .search-form .search-box .icon {
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	color: #212121;
}
.search-form-content .search-form .search-box .icon.back {
	background: var(--messy-blue);
	color: #fff;
	border-radius: 20px;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
.search-form-content .search-form .search-box .search-input {
	display: inline-block;
	width: calc(100% - 64.5px);
	height: 50px;
	background: rgba(0,0,0,0.05);
	border-radius: 20px;
}
.search-form-content .search-form .search-box .search-input .icon {
	display: inline-block;
}
.search-form-content .search-form .search-box .search-input input[type=text] {
	outline: none;
	height: 50px;
	width: calc(100% - 64.5px);
	background: transparent;
}
.search-form-content .search-results .result {
	height: 75px;
	padding: 20px 0;
	margin: 10px 0;
}
.search-form-content .search-results .result .product-photo,
.search-form-content .search-results .result .product-info,
.search-form-content .search-results .result .product-action {
	display: inline-block;
	vertical-align: top;
}
.search-form-content .search-results .result .product-photo {
	width: 50px;
	height: 50px;
	text-align: center;
	margin: 15px 10px 15px;
	background: rgba(0,0,0,0.05);
	border-radius: 20px;
}
.search-form-content .search-results .result .product-photo img {
	height: 100%;
	line-height: 40px;
	text-align: center;
	color: #fff;
}
.search-form-content .search-results .result .product-info {
	width: calc(100% - (75px + 60px) - (10px * 2));
}
.search-form-content .search-results .result .product-info h4 {
	font-size: 18px;
	margin: 10px 0;
}
.search-form-content .search-results .result .product-action {
	width: 60px;
}
.search-form-content .search-results .result .product-action .btn {
	height: 50px;
	width: 50px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: rgba(0,0,0,0.05);
	border-radius: 20px;
	margin: 15px 0 15px 10px;
}
.search-form-content .search-results .result .product-action .addProduct {
	background: var(--messy-blue);
}

/* Shop Main */
.shop-main {
	margin: 124px 0px 105px 0px;
}
.shop-main .product-items {
	position: relative;
	z-index: 3;
}
.shop-main .product-items .product-item {
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 10px;
	padding: 20px;
	overflow: hidden;
	transform: scale(1);
	transition: all .2s ease;
	cursor: pointer;
	background: #fff;
}
.shop-main .product-items .product-item:hover {
	/*transform: scale(1.05);
	box-shadow: 2px 32px 17px -23px rgba(150,168,205,0.4); */
	background: #F7F9FB;
	border-color: transparent;
}
.shop-main .product-items .product-item .item-info {
}
.shop-main .product-items .product-item .item-info .item-main-info {
	/* height: 96px; */
}
.shop-main .product-items .product-item .item-info .item-name {
	font-weight: bold;
	margin: 0;
	width: calc(100% - 100px);
}
.shop-main .product-items .product-item .item-info .item-weight {
	font-size: 18px;
	color: #BABFC9;
}
.shop-main .product-items .product-item .item-info .item-price {
	margin: 50px 0 0 0;
	font-size: 18px;
	font-weight: bold;
	display: block;
	color: #F07613;
	font-size: 24px;
	font-family: 'Montserrat', Arial, sans-serif;
}
/*
.shop-main .product-items .product-item .item-info .item-image {
	width: 250px;
	position: absolute;
	bottom: -25%;
	right: -10%;
} */

/* Shop - Product Modal */
.product-modal {
	overflow: hidden;
}
.product-modal .product-header {
	position: relative;
}
.product-modal .product-header .action-bar {
	padding: 2rem 2rem 0 2rem;
	position: absolute;
	width: 100%;
	z-index: 3;
}
.product-modal .product-header .product-title {
	position: relative;
	z-index: 2;
	padding: 2rem 2rem 1rem 2rem;
}
.product-modal .product-header .product-title .title {
	margin: 4rem 0 0 0;
	font-size: 32px;
	font-weight: 900;
	width: 70%;
}
.product-modal .product-header .product-image {
	z-index: 2;
	height: ;
}
.product-modal .product-header .product-image:before {
	content: '';
	position: absolute;
	height: 90%;
	width: 150%;
	left: -25%;
	border-radius: 0 0 100% 100%;
	background: var(--messy-blue);
}
.product-modal .product-header .product-image .image {
	position: relative;
	z-index: 3;
	padding-top: 100px;	
	max-width: 40%;
	height: 100%;
}
.product-modal .checkout .addToCart-btn {
	background: var(--messy-blue);
}
.product-modal .product-main {
	position: relative;
	z-index: 3;
	margin: 1rem 4rem 6rem 4rem;
}
.product-modal .product-main .product-name h2 {
	font-weight: 900;
	color: var(--messy-blue);
}

/* Shop Footer */
.shop-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 75px;
	z-index: 5;
	box-shadow: 0px -11px 8px -6px rgba(50, 50, 50, 0.03);
	background: #fff;
}
.shop-footer .navigation .col {
	text-align: center;
}
.shop-footer .footer-btn {
	text-align: center;
	line-height: 75px;
	height: 75px;
	width: 100%;
	outline: none;
	color: rgba(0,0,0,0.5);
	position: relative;
	display: block;
	text-decoration: none;
}
.shop-footer .footer-btn i {
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	line-height: 75px;
	margin: 0 10px 0 0;
}
.shop-footer .footer-btn.active {
	color: var(--messy-blue);
}
.shop-footer .footer-btn span {
	vertical-align: top;
	font-weight: bold;
}
.shop-footer .footer-btn .count {
	position: absolute;
	top: 15px;
	right: 20px;
	height: 20px;
	width: 20px;
	background: #FA003F;
	border-radius: 20px;
	color: #fff;
	line-height: 20px;
	font-weight: bold;
	font-size: 14px;
}

/* Small devices (landscape phones, 640px and up) */
@media (min-width: 640px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	/* Shop Main */
	.shop-main .product-items .product-item {
	}

}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) { 

	
}

/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) { 

}